/* .form-container{
        width: 600px;
        margin: 0,auto;
        border: 1px solid #95A0A7;
        box-sizing:border-box;
        border-radius: 8px;
     
}

.form-title{
        font-size:10px ;
} */